.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 35px;
}

.thumbnail-container{
    margin-bottom: 12px;
}

.thumbnail{
    width: 100%;
    border-radius: 8px;
}


.profile-pic{
    width: 40px;
    border-radius: 50px;
}

.info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}


.video-title{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 550;
    line-height: 20px;
}

.video-author{
    margin-bottom: 6px;
}

.video-author,
.video-stats{
    font-size: 14px;
    color: rgb(96, 96,96);
}